{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="container car">
    <h4>{{ car.car_model_id }} {{ car.license_plate }}</h4>
    <hr/>
    {% if car.picture %}
    <img
            src="{{ car.picture.url }}"
            style="margin-bottom: 20px; width: 800px; height: 500px; object-fit: cover;"
            alt="Car image">
    {% else %}
    <img
            src="{% static 'images/no-image.png' %}"
            style="margin-bottom: 20px; width: 800px; height: 500px; object-fit: cover;"
            alt="No image available">
    {% endif %}
    <p>{{ car.description | safe }}</p>

    <ul>
        <li>Car Owner: {{ car.client }}</li>
        <li>Car Model: {{ car.car_model_id }}</li>
        <li>License Plate: {{ car.license_plate }}</li>
        <li>VIN CODE: {{ car.vin_code }}</li>
    </ul>

    {% if car.cars.exists %}
    <h5>Related Cars:</h5>
    <ul>
        {% for related_car in car.cars.all %}
        <li>{{ related_car.car_model_id }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}