{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Car Service" %}</h1>
<p>{% trans "The cheapest and best repaired cars!" %}</p>
<p>{% trans "Available In Stock:" %}</p>
<ul>
    <li><strong>{% trans "Cars:" %}</strong> {{ num_cars }}</li>
    <li><strong>{% trans "Orders Delivered:" %}</strong> {{ num_orders_completed }}</li>
    <li><strong>{% trans "Services:" %}</strong> {{ num_services }}</li>
</ul>
<p>{% trans "You have visited this site" %} {{ num_visits }} {% trans "times." %}</p>
{% endblock %}
