{% extends "base.html" %}

{% block content %}
<h1>My ordered services</h1>
{% if orders %}
<img class="rounded-circle" src="{{ user.profile.picture.url }}">
{% for order in orders %}
<hr>
<ul>

    <li><strong class="{% if order.is_overdue %}text-danger{% endif %}">Name: {{ order.car_id.car_model_id.brand }} {{ order.car_id.car_model_id.model }}</strong></li>
    <li><strong>Return Date:</strong> {{ order.date }}</li>
    <br/>
    <a class="btn btn-primary" href="{% url 'my-order' order.pk %}" role="button">View</a>
</ul>
{% endfor %}
{% else %}
<p>There are no services ordered.</p>
{% endif %}
{% endblock %}