{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <h2 class="mb-4">Create a New Order</h2>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Order Details</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Save</button>
                <a href="{% url 'my-ordered' %}" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}